@{
    ViewData["Title"] = "ImageViewer";
}
<link href="~/lib/viewerjs/viewer.css" rel="stylesheet">
<script src="~/lib/viewerjs/viewer.js"></script>
<style>
    body {
        font-family: 'Segoe UI';
        font-size: 12pt;
    }

    header h1 {
        font-size: 12pt;
        color: #fff;
        background-color: #1BA1E2;
        padding: 20px;
    }

    article {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }


    .thumbnail {
        height: 100px;
        margin: 10px;
    }
</style>
<h1>ImageViewer</h1>

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL -->
<div>
    <input id="files" type="file"><br>
    <ul id="results"></ul>
</div>
<div>

    <img id="preview" src="" height="200" alt="Image preview...">
</div>
<div>
    <button onclick="openViewer('results')">Open Viewer</button>
    <button onclick="destroyViewer()">Close Viewer</button>
    <button onclick="sendImage('preview')">Send Image</button>
</div>
<script>
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("files");

        filesInput.addEventListener("change", function(event){

            var files = event.target.files; //FileList object
            var output = document.getElementById("results");

            for(var i = 0; i< files.length; i++)
            {
                var file = files[i];

                //Only pics
                if(!file.type.match('image'))
                  continue;

                var picReader = new FileReader();

                picReader.addEventListener("load",function(event){
                    var picFile = event.target;
                    var liElement = document.createElement("li");
                    liElement.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
                            "title='" + picFile.name + "'/>";
                    output.insertBefore(liElement,null);
                });

                 //Read the image
                picReader.readAsDataURL(file);
            }

        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }


    let viewer;
    let openViewer = function (elementId) {
        // View an image
        var preview = document.querySelector('img');
        console.log(preview.id);
        if (preview) {
            viewer = new Viewer(document.getElementById(elementId), {
                inline: true,
                viewed() {
                    viewer.zoomTo(1);
                },
            });
        }

    }

    let destroyViewer = function () {
        viewer.destroy();
    }

    let sendImage = function (elementId) {
        var preview = document.getElementById(elementId);
        console.log(preview.src);
        var payload = { "ImageString" : preview.src };
        Test("@Url.Action("PostImage", "Home")", payload);

    }
    function status(response) {
        if (response.status >= 200 && response.status < 300) {
            return Promise.resolve(response)
        } else {
            return Promise.reject(new Error(response.statusText))
        }
    }

    function json(response) {
        return response.json()
    }


    let Test = function (url, payload) {
        fetch(url, {
            method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                    },
            body: JSON.stringify(payload)
        })
            .then(json)
            .then(function (data) {
                console.log('Request succeeded with JSON response', data);
            })
            .catch(function (error) {
                console.log('Request failed', error);
            });
    }
</script>
