@{
    ViewData["Title"] = "ImageViewer";
}
<link href="~/lib/viewerjs/viewer.css" rel="stylesheet">
<script src="~/lib/viewerjs/viewer.js"></script>
<script>
    let viewer;
    function previewFile() {
        var preview = document.querySelector('img');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            console.log(reader.result);
            preview.src = reader.result;

        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    let openViewer = function (elementId) {
        // View an image
        var preview = document.querySelector('img');
        console.log(preview.id);
        if (preview) {
            viewer = new Viewer(document.getElementById(elementId), {
                inline: true,
                viewed() {
                    viewer.zoomTo(1);
                },
            });
        }

    }

    let destroyViewer = function () {
        viewer.destroy();
    }

    let sendImage = function (elementId) {
        var preview = document.getElementById(elementId);
        console.log(preview.src);
        var payload = { "ImageString" : preview.src };
        Test("@Url.Action("PostImage", "Home")", payload);

    }
    function status(response) {
        if (response.status >= 200 && response.status < 300) {
            return Promise.resolve(response)
        } else {
            return Promise.reject(new Error(response.statusText))
        }
    }

    function json(response) {
        return response.json()
    }


    let Test = function (url, payload) {
        fetch(url, {
            method: 'post',
                headers: {
      'Content-Type': 'application/json'
    },
            body: JSON.stringify(payload)
        })
            .then(json)
            .then(function (data) {
                console.log('Request succeeded with JSON response', data);
            })
            .catch(function (error) {
                console.log('Request failed', error);
            });
    }
</script>
<h1>ImageViewer</h1>

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL -->
<div>
    <input type="file" onchange="previewFile()"><br>
</div>
<div>

    <img id="preview" src="" height="200" alt="Image preview...">
</div>
<div>
    <button onclick="openViewer('preview')">Open Viewer</button>
    <button onclick="destroyViewer()">Close Viewer</button>
    <button onclick="sendImage('preview')">Send Image</button>
</div>